/* Se resetea el margin y pading, ademas de importar y añadir el font family */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Colores de la paleta previamente seleccionada */
:root {
    /* Color para el fondo de la navbar */
    --whitegrey: #f9fafb;
    /*color para algunos de los textos*/
    --black: #000000;
    /*color para el fondo de la pagina*/
    --white: #ffffff;
    /*color para los botones combinados con el negro*/
    --green: #0c815e;
    /*color para algunos de los fondos como el search*/
    --lightgreen: #edfcf5;
    /*color para algunos de los textos*/
    --darkgreen: #0b5a45;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}


/* Mensaje informativo */
.headerInfo {
    background-color: var(--lightgreen);
    text-align: end;
    overflow: hidden;
}

.headerInfo p {
    color: var(--black);
    font-weight: 500;
    padding: 5px 25px 5px 0px;
    white-space: nowrap;
    animation: moveText 40s linear infinite;
}

/*Contenedor de la navbar*/
.container_navbar {
    background-color: var(--whitegrey);
    display: flex;
    justify-content: center;
    width: 100%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.container {
    max-width: 1440px;
    padding: 0 20px;
}

/* Logo de la navbar */

.navbar_logo {
    display: flex;
    align-items: start;
}

.navbar_logo img {
    max-height: 50px;
    object-fit: contain;
    margin-right: 5px;
}

.navbar_nav {
    display: flex;
    align-items: center;
}


/* Links de la navbar */

.navbar_links {
    display: flex;
    list-style: none;
    position: relative;
    right: 60px;
}

.navItems {
    margin-left: 40px;
    font-size: .95 rem;
    font-weight: 500;

}

.navItems a {
    color: var(--black);
    position: relative;
}

a {
    text-decoration: none;
}

/* Efectos de la navbar */
.navItems a::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: -5px;
    left: 50%;
    background-color: var(--green);
    opacity: 0;
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.navItems:hover a::after {
    opacity: 1;
    width: 100%;
    left: 0;

}


/* Botones */
.navbar_tools {
    display: flex;
    align-items: center;
}

.navbar_tools-icons {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 6px;
}

.navbar_tools img {
    width: 25px;
}


.navbar_btn_icons {
    background-color: transparent;
    width: 40px;
    border: none;
    cursor: pointer;
}

.navbar_btn_icons img {
    padding: .5px;
}

.navbar__toogle-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: none;
}

.navbar_icons {
    margin-left: 15px;
}

.navbar_icons a {
    color: var(--black);
    position: relative;
}

a {
    text-decoration: none;
}

/* Efectos de los botones */
.navbar_icons a::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: -1px;
    left: 50%;
    background-color: var(--green);
    opacity: 0;
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.navbar_icons:hover a::after {
    opacity: 1;
    width: 100%;
    left: 0;

}



/* Footer section */
footer {
    background-color: var(--green);
    display: flex;
    flex-direction: column;
}

.footer_sections {
    background-color: var(--lightgreen);
    padding: 50px 20px;
    display: flex;
    justify-content: center;
}

.footer_sections-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.container {
    max-width: 1440px;
    padding: 0 20px;
}

.footer_section-table {
    list-style: none;
}

.footer_section-title {
    color: var(--darkgreen);
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

/* Links o enlaces */
.footerlinks {
    margin-bottom: 0.2rem;
}

.footer_link {
    color: var(--black);
    font-size: 1.1rem;
}

/* Iconos */
.social_container {
    margin-bottom: 1rem;
}

.social_icon {
    margin-right: 15px;

}

.social_icon img {
    height: 28px;
}

/* Formulario */
.suscribe_container-form {
    display: flex;
    flex-direction: column;
}

.suscribe_container-input {
    margin-bottom: 1rem;
}

.input {
    border: none;
    font-size: 1.1rem;
    background-color: var(--white);
    padding: 10px;
    outline: none;
    border-radius: 5px;
}

/* Boton */
.button {
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
}

.button_primary {
    color: var(--white);
    background-color: var(--darkgreen);
}

.suscribe_container-button {
    text-align: center;
    width: 150px;
}

/*  efectos */
.footer_link:hover {
    color: var(--darkgreen)
}

.button_primary:hover {
    background-color: var(--green);
    transition: background-color 0.3s ease-in-out;
}

/* Footer copyright */
.footer_copy-text {
    text-align: center;
    color: var(--white);
    font-weight: 500;
    padding: 20px 0;
}

/* Modal styles */
.modal {
    display: none;
    /* Oculto por defecto */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    position: relative;
}

.close {
    color: #aaa;
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
}

form label {
    display: block;
    margin-top: 10px;
}

form input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
}

form button {
    margin-top: 15px;
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
}

form button:hover {
    background-color: #218838;
}